.body {
  background-color: #000000;
}

.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #000000;
  max-width: 1280px;

  height: 100%;
  margin: 0 auto;
}
