.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 18px 0 30px;
}

.profile__info-name {
  margin: 22px 0 0;
  font-size: 42px;
}

.profile__info-job {
  margin: 16px 0 0;
  font-size: 18px;
}

.profile__info-edit-button {
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.profile__info-edit-button-pen {
  padding: 6px 6px;
}

.profile__add-button {
  border: 2px solid #ffffff;
  width: 150px;
  height: 50px;
  margin-left: 165px;
}

.profile__add-button-plus {
  padding: 14px 64px;
}
